{% extends "::base.html.twig" %}
{% block body %}
    <div class="header">
        <a class="logo">Registres de trucades</a>
    </div>
        <div class="container">
 <div class="row">
 <div class="login">
 <div class="login-triangle"></div>
    <h2 class="login-header">Login</h2>
        <form class="login-container" action="{{path("login_check")}}" method="post">
            <label>Usuari:</label>
            <input type="text" id="username" name="_username" value="{{ lastUsername }}" class="form-control" />
            <br/>
            <label>Paraula de pas:</label>
            <input type="password" id="password" name="_password" class="form-control" />
            <br/>
            <input type="submit" value="Entrar" class="btn btn-success"/>
           
            <input type="hidden" name="target_path" class="btn btn-success" value="/taula"/>
            
            </form>
    </div>
  </div>
<div class="clearfix"></div>

{% endblock %}