<!DOCTYPE html>
<html lang="en" >


<header id="main-header">
	<a id="logo-header">
		<span class="site-name">Registre de trucades</span>
</header>
{% block content %}
    
<body bgproperties="fixed" b>

    <table >
		<tr bgcolor="#424242">
			<td>id</td>
			<td>src</td>
			<td>dst</td>
			<td>dcontext</td>
			<td>canal</td>
			<td>dstcanal</td>
			<td>duració</td>
			<td>billsec</td>
			<td>disposició</td>
		</tr>
    </table>
{% endblock %}
</body>
</html>
